<% provide(:title, "Contatti") %>
<div class="contatti">
<div class="container">
	<div class="row center">
    	<div class="col-sm-12">
          	<h3><i class="mdi-content-send" style="color: #b71c1c"></i></h3>
          	<h1 style="color: #b71c1c; text-shadow: 3px 3px 6px #3e2723">Contattaci</h1>
          	<br>
          	<br>
        </div>
        	 <div class="col-sm-4">
              <div class="gallery-cont">
              	 <a href="https://wa.me/393891086664" target="_blank" class="center"><img class="icon-png" src="https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/whatsapp.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Whatsapp</h5></a>
              	 <br>
              	 <h5 class="light black-text" style="font-size: 1.5em" > Oppure chiamaci direttamente al 
                 <br>
                 <a href="tel:+393891086664" style="color: #b71c1c"> +39 389 1086664 </a>
                 <br>
                 o al 
                 <br>
                 <a href="tel:+393206277402" style="color: #b71c1c">+39 320 6277402</a></h5>
              </div>
         	 </div>

          	<div class="col-sm-4">
                <div class="gallery-cont">
              	 <a href="https://m.me/Cutdownrecords?fbclid=IwAR11xCvca_lH-i67cwr6WR5kYKES7ZCUWlD9K4MjBGpPsrdwSsd65Y0VwE0" target="_blank" class="center"><img class="icon-png" src="https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/messenger.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Messenger</h5></a>
              	 <br>
              	 <h5 class="light" style="font-size: 1.5em">Contattaci su Messenger e visita la nostra pagina. Già che ci sei metti qualche like, sono sempre i ben accetti!</h5>
                </div>
            </div>

          	 <div class="col-sm-4">
              <div class="gallery-cont">
              	 <a href="#email" class="center"><img class="icon-png" src="https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/email.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Email</h5></a>
              	 <br>
              	 <h5 class="light" style="font-size: 1.5em">Iscriviti alla nostra Newsletter per ricevere offerte e promozioni dedicate solo ai più fedeli.
              	 <br>
               	 Non esagereremo con lo Spam. Promesso!</h5>
              </div>
          	 </div>
          	<br>
      	
  	</div>
</div>
</div>