<div class="home">
	<div class="center container">
		<h1 class="sttl">Studio di registrazione, mixing e mastering.</h1>
          <br>
          <div class="row social-icon">
          	<div class="col-sm-4">
				<%= link_to image_tag("facebook.png", alt: "facebook"),
				            'https://www.facebook.com/pg/Cutdownrecords/posts/?ref=page_internal', target: "_blank" %></div>
			<div class="col-sm-4">	
				<%= link_to image_tag("insta.png", alt: "Instagram"),
				            'https://www.instagram.com/cutdownrecords/?hl=it', target: "_blank" %></div>
			<div class="col-sm-4">	
				<%= link_to image_tag("youtube.png", alt: "Youtube"),
				            'https://www.youtube.com/channel/UClRNlBbbKLEqBLtA31I1goQ', target: "_blank" %></div>
				</div>
			<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 jumbotron jumbotron-font-size">
				<div class="CDlogo">
				<%= link_to image_tag("LogoCD.png", alt: "CutDownlogo", size: 120),
				            'http://rubyonrails.org/' %>
			</div>
  				<h1>Benvenuto alla Cut Down</h1>

  				<h2>Questa è la nostra Home page</h2>


  			<%= link_to "Registrati!", signup_path, class: "btn btn-lg btn-danger" %>
  				<br>

				
				</div>
			</div>
	</div>
</div>

