@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body div.home {
  background-image: url("https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/background1.png");
 /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body div.contatti {
	 background-image: url('https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/background3.jpg');
 /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 80px;
	padding-bottom: 50px;
}

body div.lavori {
	 background-image: url('https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/background2.jpg');
 /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 80px;
	padding-bottom: 50px;
}

body div.dove {
   background-image: url('https://bitbucket.org/Cutdownrecords/cutdownrecords/raw/0f7880d9b79ba1deb104957a49833ed4f820aaf3/app/assets/images/background4.jpg');
 /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 80px;
	padding-bottom: 50px;
}

h1.sttl {
	padding-top: 200px;
	padding-bottom: 30px;
	color: #fff;
	text-shadow: 3px 3px 6px #b71c1c;
}

html {
  overflow-y: scroll;
}

header ul {
	font-family: 'Baloo Paaji 2', cursive;
}

.social-icon {
	padding-bottom: 20px;
}

.icon-png {
	padding-top: 8%;
  padding-bottom: 8%;
}

.jumbotron-font-size {
	font-size: 2em;
}

.navbar {
	background-color: #3e2723;
}

.dropdown {
	color: #fff;
	padding-top: 11px;
	float: right;
}

body {
	font-family: 'Baloo Paaji 2', cursive;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h5 {
	font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.CDlogo {
	padding-top: 20px;
	max-width: 150%;
	height: auto;
}

div.gallery {
	background: rgba(239, 239, 239, 0.4);
	border :1px solid #ccc;
	margin-bottom: 10px;
  height: 370px;
}

div.gallery-cont {
	background: rgba(239, 239, 239, 0.6);
	border :1px solid #ccc;
	margin-bottom: 50px;
	height: 350px;
}

iframe {
  max-width: 100%;
  height: 89%;
}

/* header */

#logo {
  font-family: 'Rock Salt', cursive;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #b71c1c;
  letter-spacing: 0px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #e53935;
  text-decoration: none;
}

/* footer */

footer {
  padding-top: 5px;
  color: #777;
  background-color: #CE8147;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.icon-footer {
  font-size: 2.3em;
  color: black;
  padding: 2% 2% 0% 0%;
}

.icon-footer:hover {
  color: #b71c1c;
}

.btn-regnl {
	margin-bottom: 10px;
}

.validate {
	width: 300px;
	height: 35px;
	margin-bottom: 5px;
}