 <footer class="footer">
      <div class="center">
          <input id="email" type="email" class="validate center white black-text" placeholder="Inserisci qui la tua email!">
          <br>
            <button class="btn btn-lg btn-danger" type="submit" name="action">Voglio Registrarmi alla Newsletter!</button>
        </div>
          <div class="center">
          <h5 style="color: #fff; font-size: 1.8em">Contattaci e Seguici</h5>
          <br>
          <a href="https://wa.me/393891086664" class="icon-footer" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="mailto:cutdownrecords2017@gmail.com" class="icon-footer" target="_blank"><i class="fa fa-envelope"></i></a>
          <a href="https://m.me/Cutdownrecords?fbclid=IwAR11xCvca_lH-i67cwr6WR5kYKES7ZCUWlD9K4MjBGpPsrdwSsd65Y0VwE0" class="icon-footer" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
          <a href="https://www.facebook.com/pg/Cutdownrecords/posts/?ref=page_internal" class="icon-footer" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/cutdownrecords/?hl=it" class="icon-footer" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UClRNlBbbKLEqBLtA31I1goQ" class="icon-footer" target="_blank"><i class="fab fa-youtube"></i></a>
          <br>
<div class="container">
            <small>
          <p>2020 &copy Oigres WD</p>
        </small>
      </div>
          </div>
      </div>
    </div>
  </footer>