


<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Cut Down Records", root_path, id: "logo" %>
        <nav>
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: #b71c1c; font-size: 1.5em">Menu
              <span class="caret"></span></a>
              <ul id="dropdownm" class="dropdown-menu dropdown-menu-right">
                <li><%= link_to "Home", root_path %></li>
                 <li><%= link_to "Contattaci", contattaci_path %></li>
                <li><%= link_to "i Nostri Lavori", lavori_path %></li>
                <li><%= link_to "Dove Siamo", dovesiamo_path %></li>
                </ul>
          </div>
        </nav>
      </div>
    </header>