<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="https://kit.fontawesome.com/4ec30d7b7a.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Cut Down Records - Project studio</title>
  <meta name="description" content="Con una sala di registrazione adeguatamente insonorizzata e regia in locale separato abbiamo strumenti che ci permettono di avere risultati professionali. Offriamo servizi di mixing e mastering con ottimi prezzi e offerte per le prime prove.">
  <meta name=”keywords” content="Studio sala registrazione project professionale polanesi sori genova liguria  offerte promozioni registrare gruppo band musicale ottimo suono qualità audio eccellente mixing mastering recording disco album montaggio audio video videoclip riprese presa diretta insonorizzazione">


<!-- Google Font -->
 <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Rock+Salt&display=swap" rel="stylesheet">

  </head>
  <body >
        <%= render 'layouts/header' %>
      <%= yield %>
         <%= render 'layouts/footer' %>
  </body>
</html>
